<span style='color: #000'>418 frames</span>	<span style='color: #900'>13,312 KB</span>	<span style='color: #090'>1,739.64 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br /><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  Undefined variable: color</p>
<p>Filename: include/php_evaluator.cls.php(42) : eval()'d code</p>
<p>Line Number: 11</p>

</div>